.banner{
  background-image: url("../assets/nav.jpg");
  height: 548px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 14px;
  }
  &__content{
    text-align: center;
    padding: 100px 25px 0 25px;
  }
  &__title{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
    @include tablet {
      font-size: 3rem;
      line-height: 6.25rem;
    }
    @include desktop{
      max-width: 1030px;
    }
  }
}
.menu{
  display: none;
  @include tablet{
    display: flex;
    align-items: center;
  }
  &__item__link{
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    text-decoration: none;
    color: white;
    @include desktop{
      font-size: 1.125rem;
      padding: 10px 32px;
    }
    &:hover{
      @include tablet {
        background-color: white;
        color: $main-color;
      }
    }
  }
  &__hamburger{
    font-size: 2.5rem;
    @include tablet {
      display: none;
    }
  }
}
.menu__mobile{
  display: flex;
  flex-direction: column;
  background-color: $text-color;
  transform: translateY(60px) translateX(-250px);
  margin: 0;
}
