/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  width: 100%;
  border-radius: 6px;
  font-size: 2em;
  font-weight: 900;
}

body {
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-family: "Gochi Hand", cursive;
  color: #0898EC;
  font-size: 48px;
}

.banner {
  background-image: url("../assets/nav.jpg");
  height: 548px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
}
.banner__menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 14px;
}
.banner__content {
  text-align: center;
  padding: 100px 25px 0 25px;
}
.banner__title {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
}
@media screen and (min-width: 770px) {
  .banner__title {
    font-size: 3rem;
    line-height: 6.25rem;
  }
}
@media screen and (min-width: 1030px) {
  .banner__title {
    margin: 0 auto;
    max-width: 1030px;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 770px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
.menu__item__link {
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1030px) {
  .menu__item__link {
    margin: 0 auto;
    font-size: 1.125rem;
    padding: 10px 32px;
  }
}
@media screen and (min-width: 770px) {
  .menu__item__link:hover {
    background-color: white;
    color: #0898EC;
  }
}
.menu__hamburger {
  font-size: 2.5rem;
}
@media screen and (min-width: 770px) {
  .menu__hamburger {
    display: none;
  }
}

.menu__mobile {
  display: flex;
  flex-direction: column;
  background-color: #021424;
  transform: translateY(60px) translateX(-250px);
  margin: 0;
}

@media screen and (min-width: 1250px) {
  .mobile {
    margin: 0 auto;
    display: none;
  }
}
.mobile__description {
  font-size: 1.125rem;
  color: #021424;
  line-height: 2.25rem;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}
.mobile__cite {
  background-image: url("../assets/cm.jpg");
  background-size: cover;
  background-position: center;
}
.mobile__cite__container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
.mobile__cite__title {
  max-width: 700px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: white;
  padding: 63px 60px;
  text-align: center;
}
.mobile__cite__content {
  max-width: 700px;
  font-style: italic;
  color: white;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: justify;
  padding: 0 60px 63px 60px;
}
.mobile__question {
  color: #021424;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin: 44px 10px;
  text-align: center;
}

.cite {
  font-size: 6rem;
  color: #0898EC;
  font-style: italic;
  transform: rotate(180deg);
  position: absolute;
  left: 3vw;
  bottom: 30px;
}

.cite2 {
  font-size: 6rem;
  color: #0898EC;
  font-style: italic;
  position: absolute;
  right: 3vw;
  top: 45%;
}

.desktop {
  display: none;
}
@media screen and (min-width: 1250px) {
  .desktop {
    margin: 0 auto;
    display: block;
  }
}
.desktop__rectangles {
  display: flex;
  position: relative;
  margin-bottom: 110px;
}
.desktop__picture {
  background-image: url("../assets/cm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 26px;
  max-width: 569px;
  margin-top: 64px;
  margin-left: 108px;
  margin-right: 500px;
  z-index: 1;
}
.desktop__picture__description {
  color: white;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.desktop__rectangle1 {
  border: 1px solid #0898EC;
  padding: 23px 15px 0 70px;
  max-width: 480px;
  height: 280px;
  position: absolute;
  left: 600px;
  top: 32px;
  z-index: 0;
  margin-right: 250px;
}
.desktop__rectangle1__description {
  color: #021424;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: right;
}
.desktop__cites {
  border: 1px solid #0898EC;
  position: absolute;
  max-width: 564px;
  left: 800px;
  top: 232px;
  margin-right: 100px;
}
.desktop__cite {
  position: relative;
  width: 100%;
}
.desktop__cite__1 {
  color: #0898EC;
  font-size: 6rem;
  font-style: italic;
  position: absolute;
  right: 25px;
  top: -50px;
}
.desktop__cite__2 {
  color: #0898EC;
  font-size: 6rem;
  font-style: italic;
  transform: rotate(180deg);
  position: absolute;
  bottom: -50px;
  left: 25px;
}
.desktop__cite__content {
  font-size: 1.25rem;
  font-style: italic;
  margin: 57px;
}
.desktop__description {
  color: #021424;
  font-size: 1.5rem;
  text-align: center;
}
.desktop__question {
  color: #021424;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-top: 36px;
}

.plate {
  background-image: url("../assets/plate.jpg");
  width: 148px;
  height: 100%;
  background-size: cover;
  background-position: left;
}
.plate__2 {
  background-position: right;
}
.plate__container {
  display: none;
}
@media screen and (min-width: 770px) {
  .plate__container {
    display: inline-block;
  }
}

.solution {
  display: flex;
  justify-content: space-between;
  background-color: #D9D9D9;
}
@media screen and (min-width: 1250px) {
  .solution {
    margin: 0 auto;
    margin-top: 36px;
  }
}
.solution__description {
  margin: 25px 17px 0 17px;
  font-size: 0.875rem;
  color: #021424;
  text-align: center;
}
@media screen and (min-width: 770px) {
  .solution__description {
    font-size: 1.25rem;
    padding: 35px;
  }
}
.solution__description__content {
  line-height: 1.2rem;
  margin-bottom: 30px;
}
@media screen and (min-width: 770px) {
  .solution__description__content {
    line-height: 2.25rem;
  }
}
.solution__description__color {
  font-weight: 700;
  color: #0898EC;
  line-height: 1.2rem;
}

.logo__text {
  font-size: 0.875rem;
}
@media screen and (min-width: 770px) {
  .logo__text {
    font-size: 1.25rem;
  }
}

.benefits__mobile__photo {
  background-image: url("../assets/woman1.jpg");
  background-position: left;
  background-size: cover;
}
@media screen and (min-width: 1030px) {
  .benefits__mobile__photo {
    margin: 0 auto;
    display: none;
  }
}
.benefits__mobile__title {
  font-size: 3.125rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: #021424;
  padding: 100px 0 50px 15px;
}
@media screen and (min-width: 1030px) {
  .benefits__mobile__title {
    margin: 0 auto;
    padding-top: 65px;
  }
}
.benefits__mobile__title__2 {
  font-size: 4.5rem;
  line-height: 6.125rem;
}

@media screen and (min-width: 1030px) {
  .benefits {
    margin: 0 auto;
    display: flex;
  }
}
.benefits__photo {
  background-image: url("../assets/woman1.jpg");
  border: 10px solid #0898EC;
  background-size: cover;
  background-position: left;
  width: 365px;
  height: 532px;
  margin-top: 72px;
}
@media screen and (min-width: 1250px) {
  .benefits__photo {
    margin: 0 auto;
    width: 465px;
    margin-top: 72px;
  }
}
.benefits__photo__container {
  display: none;
}
@media screen and (min-width: 1030px) {
  .benefits__photo__container {
    margin: 0 auto;
    display: block;
    margin-left: 85px;
  }
}
.benefits__title {
  display: none;
}
@media screen and (min-width: 1030px) {
  .benefits__title {
    margin: 0 auto;
    display: inline-block;
  }
}
@media screen and (min-width: 1030px) {
  .benefits__numbers {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
.benefits__description {
  text-align: center;
}
@media screen and (min-width: 1030px) {
  .benefits__description {
    margin: 0 auto;
    margin-right: 85px;
  }
}
.benefits__title {
  display: none;
}
@media screen and (min-width: 1030px) {
  .benefits__title {
    margin: 0 auto;
    display: inline-block;
  }
}

.number {
  text-align: center;
  font-size: 4.5rem;
  color: #0898EC;
  font-weight: 800;
}
@media screen and (min-width: 1030px) {
  .number {
    margin: 0 auto;
    position: absolute;
    top: -20px;
    left: 20%;
  }
}
@media screen and (min-width: 1250px) {
  .number {
    margin: 0 auto;
    position: absolute;
    top: -20px;
    left: calc(40% - 10px);
  }
}
.number__benefit {
  text-align: center;
  font-size: 1.125rem;
  color: #021424;
  margin: 10px 0 50px 0;
}
@media screen and (min-width: 1030px) {
  .number__benefit {
    margin: 0 auto;
    margin: 100px 0 20px 0;
  }
}
@media screen and (min-width: 1030px) {
  .number__group {
    margin: 0 auto;
    background-color: #D9D9D9;
    padding: 8px;
    margin: 50px 10px 0 10px;
    position: relative;
  }
}
@media screen and (min-width: 1250px) {
  .number__group {
    margin: 0 auto;
    width: 227px;
    height: 301px;
    padding: 20px 22px;
    margin: 0 10px;
  }
  .number__group:nth-child(2) {
    height: 256px;
    margin-top: 40px;
  }
}

.number2 {
  color: #021424;
}

.pulse {
  -webkit-animation: pulse 1s infinite alternate;
          animation: pulse 1s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
.guarantee {
  background-image: url("../assets/pig.jpg");
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #021424;
}
@media screen and (min-width: 770px) {
  .guarantee {
    background-size: contain;
  }
}
@media screen and (min-width: 1030px) {
  .guarantee {
    margin: 0 auto;
    margin-top: 83px;
  }
}
.guarantee__title {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 770px) {
  .guarantee__title {
    font-size: 2rem;
  }
}
.guarantee__title__2 {
  text-decoration: underline;
  line-height: 3rem;
}
.guarantee__description {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 70px 15px 30px 15px;
  max-width: 864px;
}
@media screen and (min-width: 770px) {
  .guarantee__description {
    margin: 50px;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1030px) {
  .guarantee__description {
    margin: 0 auto;
    margin-left: 170px;
    margin-top: 56px;
  }
}
.guarantee__check {
  display: flex;
  align-items: center;
  padding: 20px 10px 0 10px;
}
@media screen and (min-width: 770px) {
  .guarantee__check {
    margin-left: 50px;
    max-width: 549px;
  }
}
@media screen and (min-width: 1030px) {
  .guarantee__check {
    margin: 0 auto;
    margin-left: 279px;
    margin-top: 36px;
  }
}
@media screen and (min-width: 1250px) {
  .guarantee__check {
    margin: 0 auto;
    max-width: 700px;
  }
}
.guarantee__check__description {
  font-size: 0.875rem;
  font-weight: 700;
  margin-left: 10px;
}
@media screen and (min-width: 770px) {
  .guarantee__check__description {
    font-size: 1.125rem;
  }
}

.fa-circle-check {
  font-size: 2rem;
  color: #0898EC;
}
@media screen and (min-width: 770px) {
  .fa-circle-check {
    font-size: 3rem;
  }
}

.join {
  margin-top: 20px;
}
@media screen and (min-width: 1030px) {
  .join {
    margin: 0 auto;
    display: flex;
    margin-top: 160px;
    margin-bottom: 125px;
  }
}
.join__description {
  background-color: #021424;
  color: white;
  font-size: 1.125rem;
}
@media screen and (min-width: 1030px) {
  .join__description {
    margin: 0 auto;
    border-radius: 20px;
    margin-left: 135px;
    margin-right: 75px;
  }
}
.join__description__content {
  text-align: center;
  padding: 100px 10px;
  line-height: 1.5rem;
  font-weight: 300;
}
@media screen and (min-width: 770px) {
  .join__description__content {
    line-height: 2.25rem;
    padding: 50px 10px;
  }
}
.join__description__content > span {
  font-weight: 700;
}
.join__now {
  text-align: center;
  padding: 50px 0;
}
@media screen and (min-width: 1030px) {
  .join__now {
    margin: 0 auto;
    border-radius: 20px;
    margin-right: 135px;
    background-color: #0898EC;
    padding: 80px 40px;
  }
}
.join__now__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #021424;
}
.join__now__button {
  background-color: #0898EC;
  width: 325px;
  height: 100px;
  border: 1px solid #021424;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  padding: 0 35px;
  margin: 22px 0;
}
@media screen and (min-width: 1030px) {
  .join__now__button {
    margin: 0 auto;
    width: 369px;
    height: 116px;
    background-color: #021424;
    margin: 50px 0;
  }
}

.contact {
  background-image: url("../assets/woman2.jpg");
  background-position: left top;
  background-size: cover;
  text-align: center;
  padding: 114px 50px 114px 0;
}
@media screen and (min-width: 770px) {
  .contact {
    background-position: left;
  }
}
.contact__description {
  color: #021424;
}
@media screen and (min-width: 770px) {
  .contact__description {
    max-width: 426px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1250px) {
  .contact__description {
    margin: 0 auto;
    margin-left: 92px;
  }
}
.contact__mail {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (min-width: 770px) {
  .contact__mail {
    max-width: 426px;
    margin: 50px 0 50px 20px;
  }
}
@media screen and (min-width: 1250px) {
  .contact__mail {
    margin: 0 auto;
    margin: 50px 0 50px 92px;
  }
}
/*# sourceMappingURL=style.css.map */
