@mixin tablet{
  @media screen and (min-width: 770px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1030px) {
    max-width:1440px;
    margin: 0 auto;
    @content;
  }
}
@mixin bigdesktop{
  @media screen and (min-width: 1250px) {
    max-width:1440px;
    margin: 0 auto;
    @content;
  }
}